*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    background-image:url(bg.jpg);
    height: 1000px;
    width: 900px;
    margin-left: 200px;
    margin-top: 70px;
    color: white;
}
.songs-containers{
    height: 700px;
    width: 600px;
}
.songs-items{
    height: 60px;
    width: 500px;
    background-color: aliceblue;
    margin-left: 15px;
    border-radius: 8px;
    color: black;
}
img{
    height: 30px;
    width: 30px;
}


.bottom{
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;


   
}
#myProgressBar{
    width: 1100px;
    margin-left: 100px;
    margin-right: 100px;
    
}
.icons{
    text-align: center;
   
}
.songInfo{
  margin-left: 100px;

}